*.swp
package-lock.json
__pycache__
.pytest_cache
*.egg-info


# Python
__pycache__/
*.py[cod]
*$py.class
.env

# Virtual Environment
.venv/

# AWS CDK
cdk.out/
cdk.context.json
.cdk.staging/
*.lock

# IDE / Editor specific files
.vscode/
.idea/